html,
body {
  border: 0;
  margin: 0;
}

@font-face {
  font-family: "Tencent-W3";
  src: url("../font/TencentSans-W3.ttf");
}
@font-face {
  font-family: "Tencent-W7";
  src: url("../font/TencentSans-W7.ttf");
}

.toast {
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-family: "Tencent-W3";
  background-color: #3666f6;
  color: white;
}
.header-title {
  padding-left: 20px;
  font-size: xx-large;
  font-family: "Tencent-W7";
}
.header-author {
  padding-left: 6px;
  padding-bottom: 6px;
}
.content {
  width: 100%;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-input {
  width: 80vw;
  height: 10vw;
  margin-bottom: 45px;
  font-size: 24px;
  border: solid 2px #666666;
  resize: none;
  caret-color: red;
}
.main-input :focus {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
}
.buttons {
  width: 400px;
  height: 40px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.button {
  width: 100px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
  color: black;
  font-size: 24px;
  border: solid 2px black;
  border-radius: 3px;
}
.delete {
  border-color: #666666;
}
.clear {
  border-color: #f4b940;
  background-color: #f4b940;
  color: white;
}
